export("aboutKTS", "aggregateKTS", "anaSamPer", "applyGap2TSer",
       "applyTheiler", "are2TsTimeCompatible",
       "areTsGapTimeCompatible", "areTsRmTimeCompatible",
       "arimaKalman", "arimaXKalman", "assignMultiple", "buttons1",
       "buttons2", "buttons3", "buttons4", "buttons5", "checkIfAny",
       "checkIfAnyGapOrTs", "checkIfAnyGapTs", "checkIfAnyRm",
       "checkIfAnyRmTs", "checkIfAnyTs", "cleanEnvir",
       "compareVecVec", "composeKTS", "createChb", "createChbChb",
       "createChbEntry", "createCrossRM", "createCrossRMPlot",
       "createDistMatrix", "createEachRb", "createEntry",
       "createFAN", "createFANplot", "createGapChb", "createGapRb",
       "createJointRM", "createNote", "createOK", "createRandGaps",
       "createRandName", "createRb", "createRmChb", "createRmRb",
       "createSimpleRM", "createSimpleRMPlot", "createSpecGaps",
       "createSubPanR4C1", "createTitle", "createTITLE",
       "createTsChb", "createTsRb", "cumuKTS", "destroyMainScreen",
       "destroyWelcome", "determinismKTS", "diffKTS", "E1dAndE2d",
       "embedData", "endingLines", "exportall", "fillWithTwins",
       "findDateFormat", "findTwins", "fnnKTS", "functToExport",
       "gamKTS", "gapCheckedTF", "gapDetect", "gapForSelMethod",
       "genGapExample", "genRmExample", "genTSExample",
       "getClassEnvir", "getCoordsKTS", "getCRP",
       "getDelayCharTimes", "getFANRM2", "getGapsAfterFill",
       "getMaxNegSlope", "getMaxPosSlope", "getNAsGaps",
       "getNewGapsInd", "getOtherErrEstim", "getProTaos",
       "getRecurrencePoints", "getRollStatistics", "getSamPerTable",
       "getSamPerTable.1Freq", "getScreenSize", "getStatistics",
       "getUniqueSampPer", "goodnessFilling", "groupDates",
       "groupIndices", "histKTS", "invariantsKTS", "isTimeAlright",
       "KarsTS", "laminarityKTS", "linCorrKTS", "linearityKTS",
       "loadAllTypes", "loadKarsTSFonts", "loessKTS", "mainScreen",
       "meanValue", "mergeTsOrGap", "missForestKTS", "modeKTS",
       "mutInf", "mutualKTS", "myApplyVector", "myLinModel",
       "myScale", "naApproxKTS", "NAs4Resamp", "naSplinesKTS",
       "normalityKTS", "packagesToImport", "pcaKTS",
       "plotTimeSeries", "readMultEntryvalues",
       "refreshDataSetsList", "removeAllTypes", "removeIfExists",
       "removePoints", "renameAllTypes", "rmCheckedTF", "rmDetect",
       "rmSlopeOutliers", "rollStatisticsKTS", "roundKTS", "RPKTS",
       "saveAllTypes", "saveReport", "scaleKTS", "scattTimeSeries",
       "selectionGaps", "selectionTS", "separateEntry",
       "setCorrectDate", "setwdKTS", "showHelp", "slopeOutliersBut",
       "stationarityKTS", "statisticsKTS", "stinemannKTS",
       "stlplusKTS", "theilerKTS", "tsCheckedTF", "tsDetect",
       "verifyCharEntry", "verifyDateEntry", "verifyIntEntry",
       "verifyRealEntry", "welcomeScreen", "windRoseKTS",
       "writeMethodSummary", "writeMethodTitle")
